@using HairSalon.Models;
@{
  Layout = "_Layout";
}
<body>


<h1>Client Details: </h1>

<h2>@Model["client"].GetClientName()</h2>
<h2>Stylist: @Model["stylist"].GetStylistName()</h2>

<a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add another client</a>
<a href='/stylists'>View all stylists</a>
@* <a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit'>Edit this Client</a>
<a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/delete'>Delete this Client</a> *@
</body>
